<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QLHocSinhTHPTConnectionString"
            connectionString="Data Source=DESKTOP-SPL0PUE\SQLEXPRESS;Initial Catalog=QLHocSinhTHPT;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="DAL_BLL.Properties.Settings.QLHocSinhTHPTConnectionString1"
            connectionString="Data Source=NGOCTY\SQLEXPRESS;Initial Catalog=QLHocSinhTHPT;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>